<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CalculationsSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:62608/Calculations.asmx"
                binding="basicHttpBinding" bindingConfiguration="CalculationsSoap"
                contract="CalculationsWS.CalculationsSoap" name="CalculationsSoap" />
        </client>
    </system.serviceModel>
</configuration>